
  body{
     background-image:  url("../images/chernoImage.jpg");
  }



  .crystals {
    display: flex;
    justify-content:  space-around;
    align-items: center;
    width: 400px;
    margin-left:2px;
    margin-top:-100px;
} 

  .crystal {
    border: green;
    height:80px;
    margin:10px;
    width:200px;
    } 
  h2{
     background-color: lightsalmon;
     width:250px;
     height:70px;
     text-align: center;
     padding-top:15px;
     margin-left:10px;
     color: white;
     }

.container {
	background-image: url("../images/container.png");
	margin: 20px;
    margin-top:15px;
    margin-left:330px;
    width:700px;
    border: 2px solid black;
    } 
    
.result {
    background-color: lightgreen;
    margin-top: 7px;
    width:100px;
    height:100px;
    margin-left:10px;
    padding:10px;
    font-size: 25px;
    
  
}

.total-score, .previous{
    background-color: green;
    margin:10px;
    width: 120px;
    margin-left:10px;
    color: lavender;
    padding:2px;
    margin-top:-2px;
}

.previous{
    height:60px;
    padding:10px;
    font-size:25px;
}

 .panel-body{
     background-color: lemonchiffon;
     width: 500px;
     margin-left:10px;
     color: green;
    
 }

.win-lost-counter {
	background-color: #9CE7F8;
    width:80px;
    top:20px;
    margin-left:120px;
    position: relative;
    top:-100px;
    height:100px;
    padding: 4px;
}
